<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dungeon World Playbook Attribute Template</title>
	<meta name="description" content="Attribute template for Dungeon World Playbooks.">
	<meta name="author" content="Max Johnson">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="../Libs/app/bootstrap.css">
	<link rel="stylesheet" href="../Libs/Rpg-Awesome/css/rpg-awesome.css">
	<link rel="stylesheet" href="../Libs/fontawesome-free-5.15.4-web/css/all.min.css">
	<link rel="stylesheet" href="../Libs/app/app.css">
	<link rel="stylesheet" href="./style.css">
	
</head>

<body>
    <main class="content-wrapper">
		<div class="ns-row" style="margin-left:280px">
			<div class="ns-col-xl-2 entity-sidebar-submenu">
				<div class="">Sidebar</div>
			</div>
			<div class="ns-col-xl-10 entity-main-block">
				<div class="box box-solid box-entity-attributes"></div>
					<div class="box-body"></div>
				
<!--
Attributes in Kanka:
	Character_Class
	Character_Name
	Player_Name
	XP
	Level
	_XP_to_Level
	Strength
	Str
	Str_Debility
	Dexterity
	Dex
	Dex_Debility
	Constitution
	Con
	Con_Debility
	Intelligence
	Int
	Int_Debility
	Wisdom
	Wis
	Wis_Debility
	Charisma
	Cha
	Cha_Debility
	Armor
	Class_HP
	_Max_HP
	Damage
	Damage_Bonus
	Look
	Alignment
	Drive
	Race
	Background
	Bond_1
	Bond_2
	Bond_3
	Bond_4
	Bond_5
	Bond_6
	Flag_1
	Flag_2
	Current_Load
	Class_Load
	_Max_Load
	Coin
	Gear
	doDarkMode
	doColor
-->
				
<!-- The code to paste on Kanka starts here -->
				
@if($doDarkMode == true)
<div class="dwp-darkmode">
@else
<div class="dwp-lightmode">
@endif
<div class="dwp-playbook ns-container">
	<h1 id="character-class" data-type="php">
		{{$Character_Class}}
	</h1>

	<div class="ns-row dwp-section-top ns-justify-content-between">
		<div class="dwp-entry-single ns-row ns-col-xl-8" id="character-name"><span class="dwp-entry-title">Name: </span>
			<span class="dwp-entry-value" data-type="php">
				@isset($Character_Name){{ $Character_Name }}@endisset
			</span></div>
		<div class="dwp-entry-single ns-row ns-col-xl-4" id="player-name">
			<span class="dwp-entry-title">Player: </span>
			<span class="dwp-entry-value" data-type="php">
				@isset($Player_Name){{ $Player_Name }}@endisset
			</span>
		</div>
	</div>
	
	<hr />
	
	<div class="ns-row dwp-section-top ns-justify-content-between">
		
		<div class="ns-col-auto ns-col-md">
			<div class="ns-row dwp-entry-mid-icon" id="entry-armor">
				<div class="dwp-entry-title ns-row">Armor
					<div class="dwp-entry-value">
						<span class="fa-stack fa-2x">
							<i class="ra ra-shield fa-stack-2x"></i>
							<span class="fa-stack-1x data" data-type="php">
								@if($Armor)
									{{$Armor}}
								@else
									0
								@endif
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="ns-col">
			<div class="ns-row dwp-entry-mid-icon" id="entry-hp">
				<div class="dwp-entry-title ns-row">HP
					<div class="dwp-entry-value">
						<span class="fa-stack fa-2x">
							<i class="ra ra-hearts fa-stack-2x"></i>
							<span class="fa-stack-1x data" data-type="php">
								@if($_Max_HP)
									{{$_Max_HP}}
								@else
									?
								@endif
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="ns-col-md-6">
			<div class="ns-row dwp-entry-mid-icon" id="entry-damage">
				<div class="dwp-entry-title ns-row">Damage
					<div class="dwp-entry-value" id="entry-damage-value">
						<span class="fa-stack fa-1x">
							<i class="fas fa-certificate fa-stack-2x"></i>
							<span data class="fa-stack-1x data" data-type="php">
								@if($Damage)
									{{$Damage}}
								@else
									1d1
								@endif
							</span>
						</span>
					</div>
					<div class="dwp-entry-value" id="entry-damage-bonus-value">
						<span class="fa-stack fa-1x">
						<i class="fas fa-square fa-stack-2x"></i>
							<span data class="fa-stack-1x data" data-type="php">
								@if($Damage_Bonus)
									{{$Damage_Bonus}}
								@else
									+0
								@endif
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<div class="ns-row dwp-section-mid ns-justify-content-between">
		<div class="ns-col ns-col-xl-12" id="stat-column">
			<div class="ns-row ns-justify-content-between">
				<div class="ns-row dwp-section-stats ns-col-xl-9">
					<div class="dwp-stat-container">
						<div class="dwp-stat-bonus">
							<div class="dwp-stat-bonus-name">STR 
								<span data-type="php">
									@isset($Strength){{ $Strength }}@endisset
								</span>
							</div>
							<div class="dwp-stat-bonus-value">
								<span data-type="php">
									@isset($STR){{ $STR }}@endisset
								</span>
							</div>
						</div>
						<div class="dwp-stat-debility">
							<span data-type="php">
								@if($STR_Debility == false)
									<i class="far fa-square fa-sm" aria-hidden="true"></i>
								@else
									<i class="far fa-check-square fa-sm" aria-hidden="true"></i>
								@endif
							</span>
							<span>Weak</span>
							<span>-1</span>
						</div>
					</div>
					<div class="dwp-stat-container">
						<div class="dwp-stat-bonus">
							<div class="dwp-stat-bonus-name">DEX 
								<span data-type="php">
									@isset($Dexterity){{ $Dexterity }}@endisset
								</span>
							</div>
							<div class="dwp-stat-bonus-value">
								<span data-type="php">
									@isset($DEX){{ $DEX }}@endisset
								</span>
							</div>
						</div>
						<div class="dwp-stat-debility">
							<span data-type="php">
								@if($DEX_Debility == false)
									<i class="far fa-square fa-sm" aria-hidden="true"></i>
								@else
									<i class="far fa-check-square fa-sm" aria-hidden="true"></i>
								@endif
							</span>
							<span>Shaky</span>
							<span>-1</span>
						</div>
					</div>
					<div class="dwp-stat-container">
						<div class="dwp-stat-bonus">
							<div class="dwp-stat-bonus-name">CON 
								<span data-type="php">
									@isset($Constitution){{ $Constitution }}@endisset
								</span>
							</div>
							<div class="dwp-stat-bonus-value">
								<span data-type="php">
									@isset($CON){{ $CON }}@endisset
								</span>
							</div>
						</div>
						<div class="dwp-stat-debility">
							<span data-type="php">
								@if($CON_Debility == false)
									<i class="far fa-square fa-sm" aria-hidden="true"></i>
								@else
									<i class="far fa-check-square fa-sm" aria-hidden="true"></i>
								@endif
							</span>
							<span>Sick</span>
							<span>-1</span>
						</div>
					</div>
					<div class="ns-w-100"></div>
					<div class="dwp-stat-container">
						<div class="dwp-stat-bonus">
							<div class="dwp-stat-bonus-name">INT 
								<span data-type="php">
									@isset($Intelligence){{ $Intelligence }}@endisset
								</span>
							</div>
							<div class="dwp-stat-bonus-value">
								<span data-type="php">
									@isset($INT){{ $INT }}@endisset
								</span>
							</div>
						</div>
						<div class="dwp-stat-debility">
							<span data-type="php">
								@if($INT_Debility == false)
									<i class="far fa-square fa-sm" aria-hidden="true"></i>
								@else
									<i class="far fa-check-square fa-sm" aria-hidden="true"></i>
								@endif
							</span>
							<span>Stunned</span>
							<span>-1</span>
						</div>
					</div>
					<div class="dwp-stat-container">
						<div class="dwp-stat-bonus">
							<div class="dwp-stat-bonus-name">WIS 
								<span data-type="php">
									@isset($Wisdom){{ $Wisdom }}@endisset
								</span>
							</div>
							<div class="dwp-stat-bonus-value">
								<span data-type="php">
									@isset($WIS){{ $WIS }}@endisset
								</span>
							</div>
						</div>
						<div class="dwp-stat-debility">
							<span data-type="php">
								@if($WIS_Debility == false)
									<i class="far fa-square fa-sm" aria-hidden="true"></i>
								@else
									<i class="far fa-check-square fa-sm" aria-hidden="true"></i>
								@endif
							</span>
							<span>Confused</span>
							<span>-1</span>
						</div>
					</div>
					<div class="dwp-stat-container">
						<div class="dwp-stat-bonus">
							<div class="dwp-stat-bonus-name">CHA 
								<span data-type="php">
									@isset($Charisma){{ $Charisma }}@endisset
								</span>
							</div>
							<div class="dwp-stat-bonus-value">
								<span data-type="php">
									@isset($CHA){{ $CHA }}@endisset
								</span>
							</div>
						</div>
						<div class="dwp-stat-debility">
							<span data-type="php">
								@if($CHA_Debility == false)
									<i class="far fa-square fa-sm" aria-hidden="true"></i>
								@else
									<i class="far fa-check-square fa-sm" aria-hidden="true"></i>
								@endif
							</span>
							<span>Scarred</span>
							<span>-1</span>
						</div>
					</div>
				</div>

				<div class="ns-col-8 ns-col-xl-2">
					<div class="dwp-entry-single ns-row" id="player-level">
						<span class="dwp-entry-title">Level </span>
						<span class="dwp-entry-value" data-type="php">
							@isset($Level){{ $Level }}@endisset
						</span>
					</div>
					<div class="dwp-entry-single ns-row" id="player-xp">
						<span class="dwp-entry-title">XP </span>
						<span class="dwp-entry-value" data-type="php">
							@isset($XP){{ $XP }}@endisset
						</span>
					</div>
					<div class="dwp-entry-single ns-row" id="player-xp-next">
						<span class="dwp-entry-title">Lvl <i class="fas fa-plus"></i></span>
						<span class="dwp-entry-value" data-type="php">
							@isset($_XP_to_Level){{ $_XP_to_Level }}@endisset
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="ns-col" id="details-column">

			<div class="ns-row">
				@if($Look)
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Look
					</span>
					<span class="dwp-entry-value" data-type="php">
						{!! $Look !!}
					</span>
				</div>
				@endif
				@if($Alignment)
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Alignment
					</span>
					<span class="dwp-entry-value" data-type="php">
						{!! $Alignment !!}
					</span>
				</div>
				@endif
				@if($Drive)
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Drive
					</span>
					<span class="dwp-entry-value" data-type="php">
						{!! $Drive !!}
					</span>
				</div>
				@endif
				@if($Race)
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Race
					</span>
					<span class="dwp-entry-value" data-type="php">
						{!! $Race !!}
					</span>
				</div>
				@endif
				@if($Background)
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Background
					</span>
					<span class="dwp-entry-value" data-type="php">
						{!! $Background !!}
					</span>
				</div>
				@endif
				@if($Flag_1 || $Flag_2)
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Flags
					</span>
					<div class="dwp-entry-value" data-type="php">
						@if($Flag_1)
						<p>
							{!! $Flag_1 !!}
						</p>
						@endif
						@if($Flag_2)
						<p>
							{!! $Flag_2 !!}
						</p>
						@endif
					</div>
				</div>
				@endif
				@if($Bond_1 || $Bond_2 || $Bond_3 || $Bond_4 || $Bond_5 )
				<div class="dwp-entry-multiline ns-col-xl-6">
					<span class="dwp-entry-title">
						Bonds
					</span>
					<div class="dwp-entry-value" data-type="php">
						@if($Bond_1)
						<p>
							{!! $Bond_1 !!}
						</p>
						@endif
						@if($Bond_2)
						<p>
							{!! $Bond_2 !!}
						</p>
						@endif
						@if($Bond_3)
						<p>
							{!! $Bond_3 !!}
						</p>
						@endif
						@if($Bond_4)
						<p>
							{!! $Bond_4 !!}
						</p>
						@endif
						@if($Bond_5)
						<p>
							{!! $Bond_5 !!}
						</p>
						@endif
					</div>
				</div>
				@endif
				@if($Gear)
				<div class="dwp-entry-multiline ns-col-xl-6" id="entry-gear">
					<div class="ns-row dwp-entry-title ns-justify-content-between">
						<span class="ns-row ns-m-0 ns-justify-content-between">
							<span>Gear</span> 
							<span id="gear-coin"><i class="fas fa-coins"></i> 
								<span data-type="php">
									@if($Coin)
										{{ $Coin }}
									@else
										0
									@endif
								</span>
							</span>
							<span id="gear-load"><i class="fas fa-weight-hanging"></i>
								<span data-type="php">
									@if($Current_Load)
										{{ $Current_Load }}
									@else
										?
									@endif
									/
									@if($_Max_Load)
										{{ $_Max_Load }}
									@else
										?
									@endif
								</span>
							</span> 
						</span>
					</div>
					<span class="dwp-entry-value" data-type="php">
						{!! $Gear !!}
					</span>
				</div>
				@endif
			</div>
		</div>
	</div>
</div>
@if($doDarkMode == true)
</div>
@endif
		
		
<!-- The code to paste on Kanka ends here -->
	
	
			</div>
			</div>
		</div>
	</main>
</body>
	
<script language="javascript">
	// Scrub PHP syntax during dev preview
	var nodes = document.querySelectorAll('[data-type="php"]');
	for (var i = 0; i < nodes.length; i++) {
		nodes[i].innerHTML = "?";
	}
	var contentObj = document.querySelector('.content-wrapper');
	contentObj.innerHTML = contentObj.innerHTML.replace(/@+.*/g,'');
</script>
	
</html>
