@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Amaranth&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

/*!
 * Bootstrap Grid v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

/*!
 * Edited to be namespaced with "ns-" for all classes.
 */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.ns-container,
.ns-container-fluid,
.ns-container-sm,
.ns-container-md,
.ns-container-lg,
.ns-container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .ns-container, .ns-container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .ns-container, .ns-container-sm, .ns-container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .ns-container, .ns-container-sm, .ns-container-md, .ns-container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .ns-container, .ns-container-sm, .ns-container-md, .ns-container-lg, .ns-container-xl {
    max-width: 1140px;
  }
}

.ns-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ns-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.ns-no-gutters > .ns-col,
.ns-no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.ns-col-1, .ns-col-2, .ns-col-3, .ns-col-4, .ns-col-5, .ns-col-6, .ns-col-7, .ns-col-8, .ns-col-9, .ns-col-10, .ns-col-11, .ns-col-12, .ns-col,
.ns-col-auto, .ns-col-sm-1, .ns-col-sm-2, .ns-col-sm-3, .ns-col-sm-4, .ns-col-sm-5, .ns-col-sm-6, .ns-col-sm-7, .ns-col-sm-8, .ns-col-sm-9, .ns-col-sm-10, .ns-col-sm-11, .ns-col-sm-12, .ns-col-sm,
.ns-col-sm-auto, .ns-col-md-1, .ns-col-md-2, .ns-col-md-3, .ns-col-md-4, .ns-col-md-5, .ns-col-md-6, .ns-col-md-7, .ns-col-md-8, .ns-col-md-9, .ns-col-md-10, .ns-col-md-11, .ns-col-md-12, .ns-col-md,
.ns-col-md-auto, .ns-col-lg-1, .ns-col-lg-2, .ns-col-lg-3, .ns-col-lg-4, .ns-col-lg-5, .ns-col-lg-6, .ns-col-lg-7, .ns-col-lg-8, .ns-col-lg-9, .ns-col-lg-10, .ns-col-lg-11, .ns-col-lg-12, .ns-col-lg,
.ns-col-lg-auto, .ns-col-xl-1, .ns-col-xl-2, .ns-col-xl-3, .ns-col-xl-4, .ns-col-xl-5, .ns-col-xl-6, .ns-col-xl-7, .ns-col-xl-8, .ns-col-xl-9, .ns-col-xl-10, .ns-col-xl-11, .ns-col-xl-12, .ns-col-xl,
.ns-col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.ns-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.ns-row-cols-1 > * {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.ns-row-cols-2 > * {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.ns-row-cols-3 > * {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.ns-row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.ns-row-cols-5 > * {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.ns-row-cols-6 > * {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.ns-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ns-col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.ns-col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.ns-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.ns-col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.ns-col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.ns-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.ns-col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.ns-col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.ns-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.ns-col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.ns-col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.ns-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.ns-order-first {
  -ms-flex-order: -1;
  order: -1;
}

.ns-order-last {
  -ms-flex-order: 13;
  order: 13;
}

.ns-order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.ns-order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.ns-order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.ns-order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.ns-order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.ns-order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.ns-order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.ns-order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.ns-order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.ns-order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.ns-order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.ns-order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.ns-order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.ns-offset-1 {
  margin-left: 8.333333%;
}

.ns-offset-2 {
  margin-left: 16.666667%;
}

.ns-offset-3 {
  margin-left: 25%;
}

.ns-offset-4 {
  margin-left: 33.333333%;
}

.ns-offset-5 {
  margin-left: 41.666667%;
}

.ns-offset-6 {
  margin-left: 50%;
}

.ns-offset-7 {
  margin-left: 58.333333%;
}

.ns-offset-8 {
  margin-left: 66.666667%;
}

.ns-offset-9 {
  margin-left: 75%;
}

.ns-offset-10 {
  margin-left: 83.333333%;
}

.ns-offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .ns-col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .ns-row-cols-sm-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-row-cols-sm-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-row-cols-sm-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-row-cols-sm-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-row-cols-sm-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .ns-row-cols-sm-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .ns-col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ns-col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ns-col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ns-col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ns-col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ns-col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ns-col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ns-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .ns-order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .ns-order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .ns-order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .ns-order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .ns-order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .ns-order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .ns-order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .ns-order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .ns-order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .ns-order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .ns-order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .ns-order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .ns-order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .ns-order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .ns-offset-sm-0 {
    margin-left: 0;
  }
  .ns-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .ns-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .ns-offset-sm-3 {
    margin-left: 25%;
  }
  .ns-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .ns-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .ns-offset-sm-6 {
    margin-left: 50%;
  }
  .ns-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .ns-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .ns-offset-sm-9 {
    margin-left: 75%;
  }
  .ns-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .ns-offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .ns-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .ns-row-cols-md-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-row-cols-md-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-row-cols-md-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-row-cols-md-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-row-cols-md-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .ns-row-cols-md-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .ns-col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ns-col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ns-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ns-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ns-col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ns-col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ns-col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ns-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .ns-order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .ns-order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .ns-order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .ns-order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .ns-order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .ns-order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .ns-order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .ns-order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .ns-order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .ns-order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .ns-order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .ns-order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .ns-order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .ns-order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .ns-offset-md-0 {
    margin-left: 0;
  }
  .ns-offset-md-1 {
    margin-left: 8.333333%;
  }
  .ns-offset-md-2 {
    margin-left: 16.666667%;
  }
  .ns-offset-md-3 {
    margin-left: 25%;
  }
  .ns-offset-md-4 {
    margin-left: 33.333333%;
  }
  .ns-offset-md-5 {
    margin-left: 41.666667%;
  }
  .ns-offset-md-6 {
    margin-left: 50%;
  }
  .ns-offset-md-7 {
    margin-left: 58.333333%;
  }
  .ns-offset-md-8 {
    margin-left: 66.666667%;
  }
  .ns-offset-md-9 {
    margin-left: 75%;
  }
  .ns-offset-md-10 {
    margin-left: 83.333333%;
  }
  .ns-offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .ns-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .ns-row-cols-lg-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-row-cols-lg-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-row-cols-lg-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-row-cols-lg-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-row-cols-lg-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .ns-row-cols-lg-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .ns-col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ns-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ns-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ns-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ns-col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ns-col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ns-col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ns-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .ns-order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .ns-order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .ns-order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .ns-order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .ns-order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .ns-order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .ns-order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .ns-order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .ns-order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .ns-order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .ns-order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .ns-order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .ns-order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .ns-order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .ns-offset-lg-0 {
    margin-left: 0;
  }
  .ns-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .ns-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .ns-offset-lg-3 {
    margin-left: 25%;
  }
  .ns-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .ns-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .ns-offset-lg-6 {
    margin-left: 50%;
  }
  .ns-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .ns-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .ns-offset-lg-9 {
    margin-left: 75%;
  }
  .ns-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .ns-offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .ns-col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .ns-row-cols-xl-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-row-cols-xl-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-row-cols-xl-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-row-cols-xl-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-row-cols-xl-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .ns-row-cols-xl-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .ns-col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .ns-col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .ns-col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ns-col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .ns-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .ns-col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ns-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .ns-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .ns-col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ns-col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .ns-col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .ns-col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ns-order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .ns-order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .ns-order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .ns-order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .ns-order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .ns-order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .ns-order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .ns-order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .ns-order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .ns-order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .ns-order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .ns-order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .ns-order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .ns-order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .ns-order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .ns-offset-xl-0 {
    margin-left: 0;
  }
  .ns-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .ns-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .ns-offset-xl-3 {
    margin-left: 25%;
  }
  .ns-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .ns-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .ns-offset-xl-6 {
    margin-left: 50%;
  }
  .ns-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .ns-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .ns-offset-xl-9 {
    margin-left: 75%;
  }
  .ns-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .ns-offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.ns-d-none {
  display: none !important;
}

.ns-d-inline {
  display: inline !important;
}

.ns-d-inline-block {
  display: inline-block !important;
}

.ns-d-block {
  display: block !important;
}

.ns-d-table {
  display: table !important;
}

.ns-d-table-row {
  display: table-row !important;
}

.ns-d-table-cell {
  display: table-cell !important;
}

.ns-d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.ns-d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .ns-d-sm-none {
    display: none !important;
  }
  .ns-d-sm-inline {
    display: inline !important;
  }
  .ns-d-sm-inline-block {
    display: inline-block !important;
  }
  .ns-d-sm-block {
    display: block !important;
  }
  .ns-d-sm-table {
    display: table !important;
  }
  .ns-d-sm-table-row {
    display: table-row !important;
  }
  .ns-d-sm-table-cell {
    display: table-cell !important;
  }
  .ns-d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .ns-d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .ns-d-md-none {
    display: none !important;
  }
  .ns-d-md-inline {
    display: inline !important;
  }
  .ns-d-md-inline-block {
    display: inline-block !important;
  }
  .ns-d-md-block {
    display: block !important;
  }
  .ns-d-md-table {
    display: table !important;
  }
  .ns-d-md-table-row {
    display: table-row !important;
  }
  .ns-d-md-table-cell {
    display: table-cell !important;
  }
  .ns-d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .ns-d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .ns-d-lg-none {
    display: none !important;
  }
  .ns-d-lg-inline {
    display: inline !important;
  }
  .ns-d-lg-inline-block {
    display: inline-block !important;
  }
  .ns-d-lg-block {
    display: block !important;
  }
  .ns-d-lg-table {
    display: table !important;
  }
  .ns-d-lg-table-row {
    display: table-row !important;
  }
  .ns-d-lg-table-cell {
    display: table-cell !important;
  }
  .ns-d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .ns-d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .ns-d-xl-none {
    display: none !important;
  }
  .ns-d-xl-inline {
    display: inline !important;
  }
  .ns-d-xl-inline-block {
    display: inline-block !important;
  }
  .ns-d-xl-block {
    display: block !important;
  }
  .ns-d-xl-table {
    display: table !important;
  }
  .ns-d-xl-table-row {
    display: table-row !important;
  }
  .ns-d-xl-table-cell {
    display: table-cell !important;
  }
  .ns-d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .ns-d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media print {
  .ns-d-print-none {
    display: none !important;
  }
  .ns-d-print-inline {
    display: inline !important;
  }
  .ns-d-print-inline-block {
    display: inline-block !important;
  }
  .ns-d-print-block {
    display: block !important;
  }
  .ns-d-print-table {
    display: table !important;
  }
  .ns-d-print-table-row {
    display: table-row !important;
  }
  .ns-d-print-table-cell {
    display: table-cell !important;
  }
  .ns-d-print-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .ns-d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.ns-flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.ns-flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.ns-flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.ns-flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.ns-flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.ns-flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.ns-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.ns-flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.ns-flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.ns-flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.ns-flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.ns-flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.ns-justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.ns-justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.ns-justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.ns-justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.ns-justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.ns-align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.ns-align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.ns-align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.ns-align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.ns-align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.ns-align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.ns-align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.ns-align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.ns-align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.ns-align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.ns-align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.ns-align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.ns-align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.ns-align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.ns-align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.ns-align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.ns-align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .ns-flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .ns-flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .ns-flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .ns-flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .ns-flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .ns-flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .ns-flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .ns-flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .ns-flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .ns-flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .ns-flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .ns-flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .ns-justify-content-sm-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .ns-justify-content-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .ns-justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .ns-justify-content-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .ns-justify-content-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .ns-align-items-sm-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .ns-align-items-sm-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .ns-align-items-sm-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .ns-align-items-sm-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .ns-align-items-sm-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .ns-align-content-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .ns-align-content-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .ns-align-content-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .ns-align-content-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .ns-align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .ns-align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .ns-align-self-sm-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .ns-align-self-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .ns-align-self-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .ns-align-self-sm-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .ns-align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .ns-align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .ns-flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .ns-flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .ns-flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .ns-flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .ns-flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .ns-flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .ns-flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .ns-flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .ns-flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .ns-flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .ns-flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .ns-flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .ns-justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .ns-justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .ns-justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .ns-justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .ns-justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .ns-align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .ns-align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .ns-align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .ns-align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .ns-align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .ns-align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .ns-align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .ns-align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .ns-align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .ns-align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .ns-align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .ns-align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .ns-align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .ns-align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .ns-align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .ns-align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .ns-align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .ns-flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .ns-flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .ns-flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .ns-flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .ns-flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .ns-flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .ns-flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .ns-flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .ns-flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .ns-flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .ns-flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .ns-flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .ns-justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .ns-justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .ns-justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .ns-justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .ns-justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .ns-align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .ns-align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .ns-align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .ns-align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .ns-align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .ns-align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .ns-align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .ns-align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .ns-align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .ns-align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .ns-align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .ns-align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .ns-align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .ns-align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .ns-align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .ns-align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .ns-align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .ns-flex-xl-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .ns-flex-xl-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .ns-flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .ns-flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .ns-flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .ns-flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .ns-flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .ns-flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .ns-flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .ns-flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .ns-flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .ns-flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .ns-justify-content-xl-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .ns-justify-content-xl-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .ns-justify-content-xl-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .ns-justify-content-xl-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .ns-justify-content-xl-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .ns-align-items-xl-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .ns-align-items-xl-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .ns-align-items-xl-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .ns-align-items-xl-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .ns-align-items-xl-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .ns-align-content-xl-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .ns-align-content-xl-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .ns-align-content-xl-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .ns-align-content-xl-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .ns-align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .ns-align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .ns-align-self-xl-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .ns-align-self-xl-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .ns-align-self-xl-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .ns-align-self-xl-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .ns-align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .ns-align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

.ns-m-0 {
  margin: 0 !important;
}

.ns-mt-0,
.ns-my-0 {
  margin-top: 0 !important;
}

.ns-mr-0,
.ns-mx-0 {
  margin-right: 0 !important;
}

.ns-mb-0,
.ns-my-0 {
  margin-bottom: 0 !important;
}

.ns-ml-0,
.ns-mx-0 {
  margin-left: 0 !important;
}

.ns-m-1 {
  margin: 0.25rem !important;
}

.ns-mt-1,
.ns-my-1 {
  margin-top: 0.25rem !important;
}

.ns-mr-1,
.ns-mx-1 {
  margin-right: 0.25rem !important;
}

.ns-mb-1,
.ns-my-1 {
  margin-bottom: 0.25rem !important;
}

.ns-ml-1,
.ns-mx-1 {
  margin-left: 0.25rem !important;
}

.ns-m-2 {
  margin: 0.5rem !important;
}

.ns-mt-2,
.ns-my-2 {
  margin-top: 0.5rem !important;
}

.ns-mr-2,
.ns-mx-2 {
  margin-right: 0.5rem !important;
}

.ns-mb-2,
.ns-my-2 {
  margin-bottom: 0.5rem !important;
}

.ns-ml-2,
.ns-mx-2 {
  margin-left: 0.5rem !important;
}

.ns-m-3 {
  margin: 1rem !important;
}

.ns-mt-3,
.ns-my-3 {
  margin-top: 1rem !important;
}

.ns-mr-3,
.ns-mx-3 {
  margin-right: 1rem !important;
}

.ns-mb-3,
.ns-my-3 {
  margin-bottom: 1rem !important;
}

.ns-ml-3,
.ns-mx-3 {
  margin-left: 1rem !important;
}

.ns-m-4 {
  margin: 1.5rem !important;
}

.ns-mt-4,
.ns-my-4 {
  margin-top: 1.5rem !important;
}

.ns-mr-4,
.ns-mx-4 {
  margin-right: 1.5rem !important;
}

.ns-mb-4,
.ns-my-4 {
  margin-bottom: 1.5rem !important;
}

.ns-ml-4,
.ns-mx-4 {
  margin-left: 1.5rem !important;
}

.ns-m-5 {
  margin: 3rem !important;
}

.ns-mt-5,
.ns-my-5 {
  margin-top: 3rem !important;
}

.ns-mr-5,
.ns-mx-5 {
  margin-right: 3rem !important;
}

.ns-mb-5,
.ns-my-5 {
  margin-bottom: 3rem !important;
}

.ns-ml-5,
.ns-mx-5 {
  margin-left: 3rem !important;
}

.ns-p-0 {
  padding: 0 !important;
}

.ns-pt-0,
.ns-py-0 {
  padding-top: 0 !important;
}

.ns-pr-0,
.ns-px-0 {
  padding-right: 0 !important;
}

.ns-pb-0,
.ns-py-0 {
  padding-bottom: 0 !important;
}

.ns-pl-0,
.ns-px-0 {
  padding-left: 0 !important;
}

.ns-p-1 {
  padding: 0.25rem !important;
}

.ns-pt-1,
.ns-py-1 {
  padding-top: 0.25rem !important;
}

.ns-pr-1,
.ns-px-1 {
  padding-right: 0.25rem !important;
}

.ns-pb-1,
.ns-py-1 {
  padding-bottom: 0.25rem !important;
}

.ns-pl-1,
.ns-px-1 {
  padding-left: 0.25rem !important;
}

.ns-p-2 {
  padding: 0.5rem !important;
}

.ns-pt-2,
.ns-py-2 {
  padding-top: 0.5rem !important;
}

.ns-pr-2,
.ns-px-2 {
  padding-right: 0.5rem !important;
}

.ns-pb-2,
.ns-py-2 {
  padding-bottom: 0.5rem !important;
}

.ns-pl-2,
.ns-px-2 {
  padding-left: 0.5rem !important;
}

.ns-p-3 {
  padding: 1rem !important;
}

.ns-pt-3,
.ns-py-3 {
  padding-top: 1rem !important;
}

.ns-pr-3,
.ns-px-3 {
  padding-right: 1rem !important;
}

.ns-pb-3,
.ns-py-3 {
  padding-bottom: 1rem !important;
}

.ns-pl-3,
.ns-px-3 {
  padding-left: 1rem !important;
}

.ns-p-4 {
  padding: 1.5rem !important;
}

.ns-pt-4,
.ns-py-4 {
  padding-top: 1.5rem !important;
}

.ns-pr-4,
.ns-px-4 {
  padding-right: 1.5rem !important;
}

.ns-pb-4,
.ns-py-4 {
  padding-bottom: 1.5rem !important;
}

.ns-pl-4,
.ns-px-4 {
  padding-left: 1.5rem !important;
}

.ns-p-5 {
  padding: 3rem !important;
}

.ns-pt-5,
.ns-py-5 {
  padding-top: 3rem !important;
}

.ns-pr-5,
.ns-px-5 {
  padding-right: 3rem !important;
}

.ns-pb-5,
.ns-py-5 {
  padding-bottom: 3rem !important;
}

.ns-pl-5,
.ns-px-5 {
  padding-left: 3rem !important;
}

.ns-m-n1 {
  margin: -0.25rem !important;
}

.ns-mt-n1,
.ns-my-n1 {
  margin-top: -0.25rem !important;
}

.ns-mr-n1,
.ns-mx-n1 {
  margin-right: -0.25rem !important;
}

.ns-mb-n1,
.ns-my-n1 {
  margin-bottom: -0.25rem !important;
}

.ns-ml-n1,
.ns-mx-n1 {
  margin-left: -0.25rem !important;
}

.ns-m-n2 {
  margin: -0.5rem !important;
}

.ns-mt-n2,
.ns-my-n2 {
  margin-top: -0.5rem !important;
}

.ns-mr-n2,
.ns-mx-n2 {
  margin-right: -0.5rem !important;
}

.ns-mb-n2,
.ns-my-n2 {
  margin-bottom: -0.5rem !important;
}

.ns-ml-n2,
.ns-mx-n2 {
  margin-left: -0.5rem !important;
}

.ns-m-n3 {
  margin: -1rem !important;
}

.ns-mt-n3,
.ns-my-n3 {
  margin-top: -1rem !important;
}

.ns-mr-n3,
.ns-mx-n3 {
  margin-right: -1rem !important;
}

.ns-mb-n3,
.ns-my-n3 {
  margin-bottom: -1rem !important;
}

.ns-ml-n3,
.ns-mx-n3 {
  margin-left: -1rem !important;
}

.ns-m-n4 {
  margin: -1.5rem !important;
}

.ns-mt-n4,
.ns-my-n4 {
  margin-top: -1.5rem !important;
}

.ns-mr-n4,
.ns-mx-n4 {
  margin-right: -1.5rem !important;
}

.ns-mb-n4,
.ns-my-n4 {
  margin-bottom: -1.5rem !important;
}

.ns-ml-n4,
.ns-mx-n4 {
  margin-left: -1.5rem !important;
}

.ns-m-n5 {
  margin: -3rem !important;
}

.ns-mt-n5,
.ns-my-n5 {
  margin-top: -3rem !important;
}

.ns-mr-n5,
.ns-mx-n5 {
  margin-right: -3rem !important;
}

.ns-mb-n5,
.ns-my-n5 {
  margin-bottom: -3rem !important;
}

.ns-ml-n5,
.ns-mx-n5 {
  margin-left: -3rem !important;
}

.ns-m-auto {
  margin: auto !important;
}

.ns-mt-auto,
.ns-my-auto {
  margin-top: auto !important;
}

.ns-mr-auto,
.ns-mx-auto {
  margin-right: auto !important;
}

.ns-mb-auto,
.ns-my-auto {
  margin-bottom: auto !important;
}

.ns-ml-auto,
.ns-mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .ns-m-sm-0 {
    margin: 0 !important;
  }
  .ns-mt-sm-0,
  .ns-my-sm-0 {
    margin-top: 0 !important;
  }
  .ns-mr-sm-0,
  .ns-mx-sm-0 {
    margin-right: 0 !important;
  }
  .ns-mb-sm-0,
  .ns-my-sm-0 {
    margin-bottom: 0 !important;
  }
  .ns-ml-sm-0,
  .ns-mx-sm-0 {
    margin-left: 0 !important;
  }
  .ns-m-sm-1 {
    margin: 0.25rem !important;
  }
  .ns-mt-sm-1,
  .ns-my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .ns-mr-sm-1,
  .ns-mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .ns-mb-sm-1,
  .ns-my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ns-ml-sm-1,
  .ns-mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .ns-m-sm-2 {
    margin: 0.5rem !important;
  }
  .ns-mt-sm-2,
  .ns-my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .ns-mr-sm-2,
  .ns-mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .ns-mb-sm-2,
  .ns-my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ns-ml-sm-2,
  .ns-mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .ns-m-sm-3 {
    margin: 1rem !important;
  }
  .ns-mt-sm-3,
  .ns-my-sm-3 {
    margin-top: 1rem !important;
  }
  .ns-mr-sm-3,
  .ns-mx-sm-3 {
    margin-right: 1rem !important;
  }
  .ns-mb-sm-3,
  .ns-my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ns-ml-sm-3,
  .ns-mx-sm-3 {
    margin-left: 1rem !important;
  }
  .ns-m-sm-4 {
    margin: 1.5rem !important;
  }
  .ns-mt-sm-4,
  .ns-my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .ns-mr-sm-4,
  .ns-mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .ns-mb-sm-4,
  .ns-my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .ns-ml-sm-4,
  .ns-mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .ns-m-sm-5 {
    margin: 3rem !important;
  }
  .ns-mt-sm-5,
  .ns-my-sm-5 {
    margin-top: 3rem !important;
  }
  .ns-mr-sm-5,
  .ns-mx-sm-5 {
    margin-right: 3rem !important;
  }
  .ns-mb-sm-5,
  .ns-my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ns-ml-sm-5,
  .ns-mx-sm-5 {
    margin-left: 3rem !important;
  }
  .ns-p-sm-0 {
    padding: 0 !important;
  }
  .ns-pt-sm-0,
  .ns-py-sm-0 {
    padding-top: 0 !important;
  }
  .ns-pr-sm-0,
  .ns-px-sm-0 {
    padding-right: 0 !important;
  }
  .ns-pb-sm-0,
  .ns-py-sm-0 {
    padding-bottom: 0 !important;
  }
  .ns-pl-sm-0,
  .ns-px-sm-0 {
    padding-left: 0 !important;
  }
  .ns-p-sm-1 {
    padding: 0.25rem !important;
  }
  .ns-pt-sm-1,
  .ns-py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .ns-pr-sm-1,
  .ns-px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .ns-pb-sm-1,
  .ns-py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .ns-pl-sm-1,
  .ns-px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .ns-p-sm-2 {
    padding: 0.5rem !important;
  }
  .ns-pt-sm-2,
  .ns-py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .ns-pr-sm-2,
  .ns-px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .ns-pb-sm-2,
  .ns-py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .ns-pl-sm-2,
  .ns-px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .ns-p-sm-3 {
    padding: 1rem !important;
  }
  .ns-pt-sm-3,
  .ns-py-sm-3 {
    padding-top: 1rem !important;
  }
  .ns-pr-sm-3,
  .ns-px-sm-3 {
    padding-right: 1rem !important;
  }
  .ns-pb-sm-3,
  .ns-py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .ns-pl-sm-3,
  .ns-px-sm-3 {
    padding-left: 1rem !important;
  }
  .ns-p-sm-4 {
    padding: 1.5rem !important;
  }
  .ns-pt-sm-4,
  .ns-py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .ns-pr-sm-4,
  .ns-px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .ns-pb-sm-4,
  .ns-py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .ns-pl-sm-4,
  .ns-px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .ns-p-sm-5 {
    padding: 3rem !important;
  }
  .ns-pt-sm-5,
  .ns-py-sm-5 {
    padding-top: 3rem !important;
  }
  .ns-pr-sm-5,
  .ns-px-sm-5 {
    padding-right: 3rem !important;
  }
  .ns-pb-sm-5,
  .ns-py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .ns-pl-sm-5,
  .ns-px-sm-5 {
    padding-left: 3rem !important;
  }
  .ns-m-sm-n1 {
    margin: -0.25rem !important;
  }
  .ns-mt-sm-n1,
  .ns-my-sm-n1 {
    margin-top: -0.25rem !important;
  }
  .ns-mr-sm-n1,
  .ns-mx-sm-n1 {
    margin-right: -0.25rem !important;
  }
  .ns-mb-sm-n1,
  .ns-my-sm-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ns-ml-sm-n1,
  .ns-mx-sm-n1 {
    margin-left: -0.25rem !important;
  }
  .ns-m-sm-n2 {
    margin: -0.5rem !important;
  }
  .ns-mt-sm-n2,
  .ns-my-sm-n2 {
    margin-top: -0.5rem !important;
  }
  .ns-mr-sm-n2,
  .ns-mx-sm-n2 {
    margin-right: -0.5rem !important;
  }
  .ns-mb-sm-n2,
  .ns-my-sm-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ns-ml-sm-n2,
  .ns-mx-sm-n2 {
    margin-left: -0.5rem !important;
  }
  .ns-m-sm-n3 {
    margin: -1rem !important;
  }
  .ns-mt-sm-n3,
  .ns-my-sm-n3 {
    margin-top: -1rem !important;
  }
  .ns-mr-sm-n3,
  .ns-mx-sm-n3 {
    margin-right: -1rem !important;
  }
  .ns-mb-sm-n3,
  .ns-my-sm-n3 {
    margin-bottom: -1rem !important;
  }
  .ns-ml-sm-n3,
  .ns-mx-sm-n3 {
    margin-left: -1rem !important;
  }
  .ns-m-sm-n4 {
    margin: -1.5rem !important;
  }
  .ns-mt-sm-n4,
  .ns-my-sm-n4 {
    margin-top: -1.5rem !important;
  }
  .ns-mr-sm-n4,
  .ns-mx-sm-n4 {
    margin-right: -1.5rem !important;
  }
  .ns-mb-sm-n4,
  .ns-my-sm-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ns-ml-sm-n4,
  .ns-mx-sm-n4 {
    margin-left: -1.5rem !important;
  }
  .ns-m-sm-n5 {
    margin: -3rem !important;
  }
  .ns-mt-sm-n5,
  .ns-my-sm-n5 {
    margin-top: -3rem !important;
  }
  .ns-mr-sm-n5,
  .ns-mx-sm-n5 {
    margin-right: -3rem !important;
  }
  .ns-mb-sm-n5,
  .ns-my-sm-n5 {
    margin-bottom: -3rem !important;
  }
  .ns-ml-sm-n5,
  .ns-mx-sm-n5 {
    margin-left: -3rem !important;
  }
  .ns-m-sm-auto {
    margin: auto !important;
  }
  .ns-mt-sm-auto,
  .ns-my-sm-auto {
    margin-top: auto !important;
  }
  .ns-mr-sm-auto,
  .ns-mx-sm-auto {
    margin-right: auto !important;
  }
  .ns-mb-sm-auto,
  .ns-my-sm-auto {
    margin-bottom: auto !important;
  }
  .ns-ml-sm-auto,
  .ns-mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .ns-m-md-0 {
    margin: 0 !important;
  }
  .ns-mt-md-0,
  .ns-my-md-0 {
    margin-top: 0 !important;
  }
  .ns-mr-md-0,
  .ns-mx-md-0 {
    margin-right: 0 !important;
  }
  .ns-mb-md-0,
  .ns-my-md-0 {
    margin-bottom: 0 !important;
  }
  .ns-ml-md-0,
  .ns-mx-md-0 {
    margin-left: 0 !important;
  }
  .ns-m-md-1 {
    margin: 0.25rem !important;
  }
  .ns-mt-md-1,
  .ns-my-md-1 {
    margin-top: 0.25rem !important;
  }
  .ns-mr-md-1,
  .ns-mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .ns-mb-md-1,
  .ns-my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ns-ml-md-1,
  .ns-mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .ns-m-md-2 {
    margin: 0.5rem !important;
  }
  .ns-mt-md-2,
  .ns-my-md-2 {
    margin-top: 0.5rem !important;
  }
  .ns-mr-md-2,
  .ns-mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .ns-mb-md-2,
  .ns-my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ns-ml-md-2,
  .ns-mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .ns-m-md-3 {
    margin: 1rem !important;
  }
  .ns-mt-md-3,
  .ns-my-md-3 {
    margin-top: 1rem !important;
  }
  .ns-mr-md-3,
  .ns-mx-md-3 {
    margin-right: 1rem !important;
  }
  .ns-mb-md-3,
  .ns-my-md-3 {
    margin-bottom: 1rem !important;
  }
  .ns-ml-md-3,
  .ns-mx-md-3 {
    margin-left: 1rem !important;
  }
  .ns-m-md-4 {
    margin: 1.5rem !important;
  }
  .ns-mt-md-4,
  .ns-my-md-4 {
    margin-top: 1.5rem !important;
  }
  .ns-mr-md-4,
  .ns-mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .ns-mb-md-4,
  .ns-my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ns-ml-md-4,
  .ns-mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .ns-m-md-5 {
    margin: 3rem !important;
  }
  .ns-mt-md-5,
  .ns-my-md-5 {
    margin-top: 3rem !important;
  }
  .ns-mr-md-5,
  .ns-mx-md-5 {
    margin-right: 3rem !important;
  }
  .ns-mb-md-5,
  .ns-my-md-5 {
    margin-bottom: 3rem !important;
  }
  .ns-ml-md-5,
  .ns-mx-md-5 {
    margin-left: 3rem !important;
  }
  .ns-p-md-0 {
    padding: 0 !important;
  }
  .ns-pt-md-0,
  .ns-py-md-0 {
    padding-top: 0 !important;
  }
  .ns-pr-md-0,
  .ns-px-md-0 {
    padding-right: 0 !important;
  }
  .ns-pb-md-0,
  .ns-py-md-0 {
    padding-bottom: 0 !important;
  }
  .ns-pl-md-0,
  .ns-px-md-0 {
    padding-left: 0 !important;
  }
  .ns-p-md-1 {
    padding: 0.25rem !important;
  }
  .ns-pt-md-1,
  .ns-py-md-1 {
    padding-top: 0.25rem !important;
  }
  .ns-pr-md-1,
  .ns-px-md-1 {
    padding-right: 0.25rem !important;
  }
  .ns-pb-md-1,
  .ns-py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .ns-pl-md-1,
  .ns-px-md-1 {
    padding-left: 0.25rem !important;
  }
  .ns-p-md-2 {
    padding: 0.5rem !important;
  }
  .ns-pt-md-2,
  .ns-py-md-2 {
    padding-top: 0.5rem !important;
  }
  .ns-pr-md-2,
  .ns-px-md-2 {
    padding-right: 0.5rem !important;
  }
  .ns-pb-md-2,
  .ns-py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .ns-pl-md-2,
  .ns-px-md-2 {
    padding-left: 0.5rem !important;
  }
  .ns-p-md-3 {
    padding: 1rem !important;
  }
  .ns-pt-md-3,
  .ns-py-md-3 {
    padding-top: 1rem !important;
  }
  .ns-pr-md-3,
  .ns-px-md-3 {
    padding-right: 1rem !important;
  }
  .ns-pb-md-3,
  .ns-py-md-3 {
    padding-bottom: 1rem !important;
  }
  .ns-pl-md-3,
  .ns-px-md-3 {
    padding-left: 1rem !important;
  }
  .ns-p-md-4 {
    padding: 1.5rem !important;
  }
  .ns-pt-md-4,
  .ns-py-md-4 {
    padding-top: 1.5rem !important;
  }
  .ns-pr-md-4,
  .ns-px-md-4 {
    padding-right: 1.5rem !important;
  }
  .ns-pb-md-4,
  .ns-py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .ns-pl-md-4,
  .ns-px-md-4 {
    padding-left: 1.5rem !important;
  }
  .ns-p-md-5 {
    padding: 3rem !important;
  }
  .ns-pt-md-5,
  .ns-py-md-5 {
    padding-top: 3rem !important;
  }
  .ns-pr-md-5,
  .ns-px-md-5 {
    padding-right: 3rem !important;
  }
  .ns-pb-md-5,
  .ns-py-md-5 {
    padding-bottom: 3rem !important;
  }
  .ns-pl-md-5,
  .ns-px-md-5 {
    padding-left: 3rem !important;
  }
  .ns-m-md-n1 {
    margin: -0.25rem !important;
  }
  .ns-mt-md-n1,
  .ns-my-md-n1 {
    margin-top: -0.25rem !important;
  }
  .ns-mr-md-n1,
  .ns-mx-md-n1 {
    margin-right: -0.25rem !important;
  }
  .ns-mb-md-n1,
  .ns-my-md-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ns-ml-md-n1,
  .ns-mx-md-n1 {
    margin-left: -0.25rem !important;
  }
  .ns-m-md-n2 {
    margin: -0.5rem !important;
  }
  .ns-mt-md-n2,
  .ns-my-md-n2 {
    margin-top: -0.5rem !important;
  }
  .ns-mr-md-n2,
  .ns-mx-md-n2 {
    margin-right: -0.5rem !important;
  }
  .ns-mb-md-n2,
  .ns-my-md-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ns-ml-md-n2,
  .ns-mx-md-n2 {
    margin-left: -0.5rem !important;
  }
  .ns-m-md-n3 {
    margin: -1rem !important;
  }
  .ns-mt-md-n3,
  .ns-my-md-n3 {
    margin-top: -1rem !important;
  }
  .ns-mr-md-n3,
  .ns-mx-md-n3 {
    margin-right: -1rem !important;
  }
  .ns-mb-md-n3,
  .ns-my-md-n3 {
    margin-bottom: -1rem !important;
  }
  .ns-ml-md-n3,
  .ns-mx-md-n3 {
    margin-left: -1rem !important;
  }
  .ns-m-md-n4 {
    margin: -1.5rem !important;
  }
  .ns-mt-md-n4,
  .ns-my-md-n4 {
    margin-top: -1.5rem !important;
  }
  .ns-mr-md-n4,
  .ns-mx-md-n4 {
    margin-right: -1.5rem !important;
  }
  .ns-mb-md-n4,
  .ns-my-md-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ns-ml-md-n4,
  .ns-mx-md-n4 {
    margin-left: -1.5rem !important;
  }
  .ns-m-md-n5 {
    margin: -3rem !important;
  }
  .ns-mt-md-n5,
  .ns-my-md-n5 {
    margin-top: -3rem !important;
  }
  .ns-mr-md-n5,
  .ns-mx-md-n5 {
    margin-right: -3rem !important;
  }
  .ns-mb-md-n5,
  .ns-my-md-n5 {
    margin-bottom: -3rem !important;
  }
  .ns-ml-md-n5,
  .ns-mx-md-n5 {
    margin-left: -3rem !important;
  }
  .ns-m-md-auto {
    margin: auto !important;
  }
  .ns-mt-md-auto,
  .ns-my-md-auto {
    margin-top: auto !important;
  }
  .ns-mr-md-auto,
  .ns-mx-md-auto {
    margin-right: auto !important;
  }
  .ns-mb-md-auto,
  .ns-my-md-auto {
    margin-bottom: auto !important;
  }
  .ns-ml-md-auto,
  .ns-mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  .ns-m-lg-0 {
    margin: 0 !important;
  }
  .ns-mt-lg-0,
  .ns-my-lg-0 {
    margin-top: 0 !important;
  }
  .ns-mr-lg-0,
  .ns-mx-lg-0 {
    margin-right: 0 !important;
  }
  .ns-mb-lg-0,
  .ns-my-lg-0 {
    margin-bottom: 0 !important;
  }
  .ns-ml-lg-0,
  .ns-mx-lg-0 {
    margin-left: 0 !important;
  }
  .ns-m-lg-1 {
    margin: 0.25rem !important;
  }
  .ns-mt-lg-1,
  .ns-my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .ns-mr-lg-1,
  .ns-mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .ns-mb-lg-1,
  .ns-my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ns-ml-lg-1,
  .ns-mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .ns-m-lg-2 {
    margin: 0.5rem !important;
  }
  .ns-mt-lg-2,
  .ns-my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .ns-mr-lg-2,
  .ns-mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .ns-mb-lg-2,
  .ns-my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ns-ml-lg-2,
  .ns-mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .ns-m-lg-3 {
    margin: 1rem !important;
  }
  .ns-mt-lg-3,
  .ns-my-lg-3 {
    margin-top: 1rem !important;
  }
  .ns-mr-lg-3,
  .ns-mx-lg-3 {
    margin-right: 1rem !important;
  }
  .ns-mb-lg-3,
  .ns-my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ns-ml-lg-3,
  .ns-mx-lg-3 {
    margin-left: 1rem !important;
  }
  .ns-m-lg-4 {
    margin: 1.5rem !important;
  }
  .ns-mt-lg-4,
  .ns-my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .ns-mr-lg-4,
  .ns-mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .ns-mb-lg-4,
  .ns-my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .ns-ml-lg-4,
  .ns-mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .ns-m-lg-5 {
    margin: 3rem !important;
  }
  .ns-mt-lg-5,
  .ns-my-lg-5 {
    margin-top: 3rem !important;
  }
  .ns-mr-lg-5,
  .ns-mx-lg-5 {
    margin-right: 3rem !important;

  }
  .ns-mb-lg-5,
  .ns-my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ns-ml-lg-5,
  .ns-mx-lg-5 {
    margin-left: 3rem !important;
  }
  .ns-p-lg-0 {
    padding: 0 !important;
  }
  .ns-pt-lg-0,
  .ns-py-lg-0 {
    padding-top: 0 !important;
  }
  .ns-pr-lg-0,
  .ns-px-lg-0 {
    padding-right: 0 !important;
  }
  .ns-pb-lg-0,
  .ns-py-lg-0 {
    padding-bottom: 0 !important;
  }
  .ns-pl-lg-0,
  .ns-px-lg-0 {
    padding-left: 0 !important;
  }
  .ns-p-lg-1 {
    padding: 0.25rem !important;
  }
  .ns-pt-lg-1,
  .ns-py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .ns-pr-lg-1,
  .ns-px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .ns-pb-lg-1,
  .ns-py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .ns-pl-lg-1,
  .ns-px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .ns-p-lg-2 {
    padding: 0.5rem !important;
  }
  .ns-pt-lg-2,
  .ns-py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .ns-pr-lg-2,
  .ns-px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .ns-pb-lg-2,
  .ns-py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .ns-pl-lg-2,
  .ns-px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .ns-p-lg-3 {
    padding: 1rem !important;
  }
  .ns-pt-lg-3,
  .ns-py-lg-3 {
    padding-top: 1rem !important;
  }
  .ns-pr-lg-3,
  .ns-px-lg-3 {
    padding-right: 1rem !important;
  }
  .ns-pb-lg-3,
  .ns-py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .ns-pl-lg-3,
  .ns-px-lg-3 {
    padding-left: 1rem !important;
  }
  .ns-p-lg-4 {
    padding: 1.5rem !important;
  }
  .ns-pt-lg-4,
  .ns-py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .ns-pr-lg-4,
  .ns-px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .ns-pb-lg-4,
  .ns-py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .ns-pl-lg-4,
  .ns-px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .ns-p-lg-5 {
    padding: 3rem !important;
  }
  .ns-pt-lg-5,
  .ns-py-lg-5 {
    padding-top: 3rem !important;
  }
  .ns-pr-lg-5,
  .ns-px-lg-5 {
    padding-right: 3rem !important;
  }
  .ns-pb-lg-5,
  .ns-py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .ns-pl-lg-5,
  .ns-px-lg-5 {
    padding-left: 3rem !important;
  }
  .ns-m-lg-n1 {
    margin: -0.25rem !important;
  }
  .ns-mt-lg-n1,
  .ns-my-lg-n1 {
    margin-top: -0.25rem !important;
  }
  .ns-mr-lg-n1,
  .ns-mx-lg-n1 {
    margin-right: -0.25rem !important;
  }
  .ns-mb-lg-n1,
  .ns-my-lg-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ns-ml-lg-n1,
  .ns-mx-lg-n1 {
    margin-left: -0.25rem !important;
  }
  .ns-m-lg-n2 {
    margin: -0.5rem !important;
  }
  .ns-mt-lg-n2,
  .ns-my-lg-n2 {
    margin-top: -0.5rem !important;
  }
  .ns-mr-lg-n2,
  .ns-mx-lg-n2 {
    margin-right: -0.5rem !important;
  }
  .ns-mb-lg-n2,
  .ns-my-lg-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ns-ml-lg-n2,
  .ns-mx-lg-n2 {
    margin-left: -0.5rem !important;
  }
  .ns-m-lg-n3 {
    margin: -1rem !important;
  }
  .ns-mt-lg-n3,
  .ns-my-lg-n3 {
    margin-top: -1rem !important;
  }
  .ns-mr-lg-n3,
  .ns-mx-lg-n3 {
    margin-right: -1rem !important;
  }
  .ns-mb-lg-n3,
  .ns-my-lg-n3 {
    margin-bottom: -1rem !important;
  }
  .ns-ml-lg-n3,
  .ns-mx-lg-n3 {
    margin-left: -1rem !important;
  }
  .ns-m-lg-n4 {
    margin: -1.5rem !important;
  }
  .ns-mt-lg-n4,
  .ns-my-lg-n4 {
    margin-top: -1.5rem !important;
  }
  .ns-mr-lg-n4,
  .ns-mx-lg-n4 {
    margin-right: -1.5rem !important;
  }
  .ns-mb-lg-n4,
  .ns-my-lg-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ns-ml-lg-n4,
  .ns-mx-lg-n4 {
    margin-left: -1.5rem !important;
  }
  .ns-m-lg-n5 {
    margin: -3rem !important;
  }
  .ns-mt-lg-n5,
  .ns-my-lg-n5 {
    margin-top: -3rem !important;
  }
  .ns-mr-lg-n5,
  .ns-mx-lg-n5 {
    margin-right: -3rem !important;
  }
  .ns-mb-lg-n5,
  .ns-my-lg-n5 {
    margin-bottom: -3rem !important;
  }
  .ns-ml-lg-n5,
  .ns-mx-lg-n5 {
    margin-left: -3rem !important;
  }
  .ns-m-lg-auto {
    margin: auto !important;
  }
  .ns-mt-lg-auto,
  .ns-my-lg-auto {
    margin-top: auto !important;
  }
  .ns-mr-lg-auto,
  .ns-mx-lg-auto {
    margin-right: auto !important;
  }
  .ns-mb-lg-auto,
  .ns-my-lg-auto {
    margin-bottom: auto !important;
  }
  .ns-ml-lg-auto,
  .ns-mx-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .ns-m-xl-0 {
    margin: 0 !important;
  }
  .ns-mt-xl-0,
  .ns-my-xl-0 {
    margin-top: 0 !important;
  }
  .ns-mr-xl-0,
  .ns-mx-xl-0 {
    margin-right: 0 !important;
  }
  .ns-mb-xl-0,
  .ns-my-xl-0 {
    margin-bottom: 0 !important;
  }
  .ns-ml-xl-0,
  .ns-mx-xl-0 {
    margin-left: 0 !important;
  }
  .ns-m-xl-1 {
    margin: 0.25rem !important;
  }
  .ns-mt-xl-1,
  .ns-my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .ns-mr-xl-1,
  .ns-mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .ns-mb-xl-1,
  .ns-my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ns-ml-xl-1,
  .ns-mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .ns-m-xl-2 {
    margin: 0.5rem !important;
  }
  .ns-mt-xl-2,
  .ns-my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .ns-mr-xl-2,
  .ns-mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .ns-mb-xl-2,
  .ns-my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ns-ml-xl-2,
  .ns-mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .ns-m-xl-3 {
    margin: 1rem !important;
  }
  .ns-mt-xl-3,
  .ns-my-xl-3 {
    margin-top: 1rem !important;
  }
  .ns-mr-xl-3,
  .ns-mx-xl-3 {
    margin-right: 1rem !important;
  }
  .ns-mb-xl-3,
  .ns-my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ns-ml-xl-3,
  .ns-mx-xl-3 {
    margin-left: 1rem !important;
  }
  .ns-m-xl-4 {
    margin: 1.5rem !important;
  }
  .ns-mt-xl-4,
  .ns-my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .ns-mr-xl-4,
  .ns-mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .ns-mb-xl-4,
  .ns-my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ns-ml-xl-4,
  .ns-mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .ns-m-xl-5 {
    margin: 3rem !important;
  }
  .ns-mt-xl-5,
  .ns-my-xl-5 {
    margin-top: 3rem !important;
  }
  .ns-mr-xl-5,
  .ns-mx-xl-5 {
    margin-right: 3rem !important;
  }
  .ns-mb-xl-5,
  .ns-my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ns-ml-xl-5,
  .ns-mx-xl-5 {
    margin-left: 3rem !important;
  }
  .ns-p-xl-0 {
    padding: 0 !important;
  }
  .ns-pt-xl-0,
  .ns-py-xl-0 {
    padding-top: 0 !important;
  }
  .ns-pr-xl-0,
  .ns-px-xl-0 {
    padding-right: 0 !important;
  }
  .ns-pb-xl-0,
  .ns-py-xl-0 {
    padding-bottom: 0 !important;
  }
  .ns-pl-xl-0,
  .ns-px-xl-0 {
    padding-left: 0 !important;
  }
  .ns-p-xl-1 {
    padding: 0.25rem !important;
  }
  .ns-pt-xl-1,
  .ns-py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .ns-pr-xl-1,
  .ns-px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .ns-pb-xl-1,
  .ns-py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .ns-pl-xl-1,
  .ns-px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .ns-p-xl-2 {
    padding: 0.5rem !important;
  }
  .ns-pt-xl-2,
  .ns-py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .ns-pr-xl-2,
  .ns-px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .ns-pb-xl-2,
  .ns-py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .ns-pl-xl-2,
  .ns-px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .ns-p-xl-3 {
    padding: 1rem !important;
  }
  .ns-pt-xl-3,
  .ns-py-xl-3 {
    padding-top: 1rem !important;
  }
  .ns-pr-xl-3,
  .ns-px-xl-3 {
    padding-right: 1rem !important;
  }
  .ns-pb-xl-3,
  .ns-py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .ns-pl-xl-3,
  .ns-px-xl-3 {
    padding-left: 1rem !important;
  }
  .ns-p-xl-4 {
    padding: 1.5rem !important;
  }
  .ns-pt-xl-4,
  .ns-py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .ns-pr-xl-4,
  .ns-px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .ns-pb-xl-4,
  .ns-py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .ns-pl-xl-4,
  .ns-px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .ns-p-xl-5 {
    padding: 3rem !important;
  }
  .ns-pt-xl-5,
  .ns-py-xl-5 {
    padding-top: 3rem !important;
  }
  .ns-pr-xl-5,
  .ns-px-xl-5 {
    padding-right: 3rem !important;
  }
  .ns-pb-xl-5,
  .ns-py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .ns-pl-xl-5,
  .ns-px-xl-5 {
    padding-left: 3rem !important;
  }
  .ns-m-xl-n1 {
    margin: -0.25rem !important;
  }
  .ns-mt-xl-n1,
  .ns-my-xl-n1 {
    margin-top: -0.25rem !important;
  }
  .ns-mr-xl-n1,
  .ns-mx-xl-n1 {
    margin-right: -0.25rem !important;
  }
  .ns-mb-xl-n1,
  .ns-my-xl-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ns-ml-xl-n1,
  .ns-mx-xl-n1 {
    margin-left: -0.25rem !important;
  }
  .ns-m-xl-n2 {
    margin: -0.5rem !important;
  }
  .ns-mt-xl-n2,
  .ns-my-xl-n2 {
    margin-top: -0.5rem !important;
  }
  .ns-mr-xl-n2,
  .ns-mx-xl-n2 {
    margin-right: -0.5rem !important;
  }
  .ns-mb-xl-n2,
  .ns-my-xl-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ns-ml-xl-n2,
  .ns-mx-xl-n2 {
    margin-left: -0.5rem !important;
  }
  .ns-m-xl-n3 {
    margin: -1rem !important;
  }
  .ns-mt-xl-n3,
  .ns-my-xl-n3 {
    margin-top: -1rem !important;
  }
  .ns-mr-xl-n3,
  .ns-mx-xl-n3 {
    margin-right: -1rem !important;
  }
  .ns-mb-xl-n3,
  .ns-my-xl-n3 {
    margin-bottom: -1rem !important;
  }
  .ns-ml-xl-n3,
  .ns-mx-xl-n3 {
    margin-left: -1rem !important;
  }
  .ns-m-xl-n4 {
    margin: -1.5rem !important;
  }
  .ns-mt-xl-n4,
  .ns-my-xl-n4 {
    margin-top: -1.5rem !important;
  }
  .ns-mr-xl-n4,
  .ns-mx-xl-n4 {
    margin-right: -1.5rem !important;
  }
  .ns-mb-xl-n4,
  .ns-my-xl-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ns-ml-xl-n4,
  .ns-mx-xl-n4 {
    margin-left: -1.5rem !important;
  }
  .ns-m-xl-n5 {
    margin: -3rem !important;
  }
  .ns-mt-xl-n5,
  .ns-my-xl-n5 {
    margin-top: -3rem !important;
  }
  .ns-mr-xl-n5,
  .ns-mx-xl-n5 {
    margin-right: -3rem !important;
  }
  .ns-mb-xl-n5,
  .ns-my-xl-n5 {
    margin-bottom: -3rem !important;
  }
  .ns-ml-xl-n5,
  .ns-mx-xl-n5 {
    margin-left: -3rem !important;
  }
  .ns-m-xl-auto {
    margin: auto !important;
  }
  .ns-mt-xl-auto,
  .ns-my-xl-auto {
    margin-top: auto !important;
  }
  .ns-mr-xl-auto,
  .ns-mx-xl-auto {
    margin-right: auto !important;
  }
  .ns-mb-xl-auto,
  .ns-my-xl-auto {
    margin-bottom: auto !important;
  }
  .ns-ml-xl-auto,
  .ns-mx-xl-auto {
    margin-left: auto !important;
  }
}
/*# sourceMappingURL=bootstrap-grid.ns-css.ns-map */

.ns-w-100 {
	width: 100%;
}

:root {
}

.dwp-playbook {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
	--dwp-title-font-family: 'Metamorphous', sans-serif;
}

.dwp-lightmode {
	--dwp-page-color: rgb(182,182,182);
	--dwp-main-font-color: #333;
	--dwp-title-font-color: #fff;
	--dwp-title-bg: rgba(75,75,75,1.00);
	--dwp-value-font-color: #333;
	--dwp-value-bg: rgb(243,243,243);
	--dwp-link-color:#1C75B9;
	--dwp-link-white-color:#fff;
	--dwp-bg-color: rgb(243,243,243);
	--dwp-border-color: rgb(0,0,0);
}

.dwp-darkmode {
	--dwp-page-color: rgb(220,20,20);
	--dwp-page-color: rgb(20,20,20);
	--dwp-main-font-color: #ccc;
	--dwp-title-font-color: #ddd;
	--dwp-title-bg: rgba(75,75,75,1.00);
	--dwp-value-font-color: #ccc;
	--dwp-value-bg: rgb(43,43,43);
	--dwp-link-color:#1C75B9;
	--dwp-link-white-color:#fff;
	--dwp-bg-color: rgb(43,43,43);
	--dwp-border-color: rgb(110,110,110);
}
/* Layout */
main {
/*	margin-right: 280px;*/
/*
  max-width: 750px;
	padding: 10px;
*/
}

.dwp-playbook {
    background-color: var(--dwp-page-color);
    color: var(--dwp-main-font-color);
	padding: 20px;
/*	min-width: 400px;*/
}
.dwp-playbook h1, .dwp-playbook h2, .dwp-playbook h3 {
	font-family: var(--dwp-title-font-family);
}
#character-class {
	background: #000;
	color: var(--dwp-title-font-color);
	background-color: var(--dwp-title-bg);
    margin: -10px -20px 10px -20px;
    padding: 10px 20px;
}
.dwp-section-top {
}
.dwp-section-mid {
}

/*-------- GENERIC ENTRY BLOCKS ---------*/

.dwp-entry-single {
    flex: 1 1 auto;
/*	background: rgba(0,0,0,0.80);*/
/*	color: white;*/
}
.dwp-entry-single .dwp-entry-title {
    background-color: var(--dwp-title-bg);
    color: var(--dwp-title-font-color);
	font-family: var(--dwp-title-font-family);
    border-radius: 3px 0 0 3px;
    padding: 2px 5px;
    min-width: 60px;
    display: inline-block;
	margin-bottom: 10px;
}
.dwp-entry-single .dwp-entry-value {
    background: var(--dwp-value-bg);
    color: var(--dwp-value-font-color);
    border-radius: 0 3px 3px 0;
    padding: 2px 5px;
    display: inline-block;
    flex: 1 1 auto;
	margin: 0px 20px 10px 0px;
}

.dwp-entry-multiline {
	padding: 0px;
}
.dwp-entry-multiline .dwp-entry-title {
    background-color: var(--dwp-title-bg);
    color: var(--dwp-title-font-color);
	font-family: var(--dwp-title-font-family);
    border-radius: 3px 3px 0 0;
    padding: 2px 5px;
    display: block;
	margin: 0px 20px;
}
.dwp-entry-multiline .dwp-entry-value {
    background: var(--dwp-value-bg);
    color: var(--dwp-value-font-color);
    border-radius: 0 0 3px 3px;
    padding: 2px 5px;
    display: block;
    flex: 1 1 auto;
    min-height: auto;
    margin: 0px 20px 10px;
}
@media only screen and (min-width: 1200px) {
/*@media only screen and (min-width: 768px) {*/
	.dwp-entry-multiline .dwp-entry-value {
    	min-height: 100px;
	}
}
/*-------- Armor, HP, Damage ---------*/
 .dwp-entry-mid-icon{
}
.dwp-entry-mid-icon i {
	color: var(--dwp-bg-color);
	-webkit-text-stroke: 1px var(--dwp-border-color);
	text-shadow:
		3px 3px 0 var(--dwp-border-color),
		-1px -1px 0 var(--dwp-border-color),  
		1px -1px 0 var(--dwp-border-color),
		-1px 1px 0 var(--dwp-border-color),
		1px 1px 0 var(--dwp-border-color);
}
.dwp-entry-mid-icon .dwp-entry-title {
    position: relative;
    min-width: 90px;
    background-color: var(--dwp-title-bg);
    color: var(--dwp-title-font-color);
	font-family: var(--dwp-title-font-family);
    border-radius: 10px;
    padding-left: 8px;
    align-items: center;
    margin: 0px 0px 0px 20px;
}
.dwp-entry-mid-icon .dwp-entry-value {
}
.dwp-entry-mid-icon .dwp-entry-value .data {
	font-size: 16px;
	font-weight: bold;
    color: var(--dwp-value-font-color);
}
.dwp-entry-mid-icon .dwp-entry-value {
	display: block;
	position: absolute;
	width: 70px;
/*	height: 70px;*/
	right: -30px;
}
.dwp-entry-mid-icon .dwp-entry-value i {
}
.dwp-entry-mid-icon .dwp-entry-value span {
}
#entry-armor .data {
	font-size: 22px;
}

#entry-damage .dwp-entry-title{
	min-width: 180px;
	margin-right: 20px;
}
#entry-damage #entry-damage-value {
	font-size: 1.9em;
	right: 40px;
}
#entry-damage #entry-damage-bonus-value {
	font-size: 1.5em;
	right: -40px;
}
#entry-damage #entry-damage-bonus-value:before {
/*
	content: "+";
	position: absolute;
*/
}

/*-------- STAT BLOCKS ---------*/

.dwp-section-stats {
    max-width: 600px;
	flex-direction: column;
	justify-content: space-around;
}
#stat-column {
	max-width: 200px;
}
@media only screen and (min-width: 1200px) {
/*@media only screen and (min-width: 768px) {*/
	.dwp-section-stats {
		flex-direction: row;
	}
	#stat-column {
		max-width: inherit;
	}
}
@media only screen and (max-width: 768px) {
/*@media only screen and (min-width: 768px) {*/
	#entry-damage {
		padding-top: 40px;
	}
	#stat-column {
/*		padding-left: 0px;*/
	}
	#details-column {
		padding-right: 5px;
	}
}

.dwp-stat-container {
	flex: 0 0 auto;
/*	color: black;*/
	width: 150px;
	padding: 2px;
	border: 0px solid;
	border-radius: 2px;
	margin: 0px 20px 10px 0px;
}
.dwp-stat-container .dwp-stat-bonus {
    background-color: var(--dwp-title-bg);
	border-radius: 10px 10px 0px 0px;
/*    display: flex;*/
    position: relative;
/*
    justify-content: space-between;
    align-items: center;
*/
}
.dwp-stat-container .dwp-stat-bonus-name {
    display: flex;
    align-items: center;
    color: var(--dwp-title-font-color);
    font-family: var(--dwp-title-font-family);
    font-size: 26px;
    padding: 5px 10px;
    font-weight: bold;
}
.dwp-stat-container .dwp-stat-bonus-name span{
    color: var(--dwp-title-font-color);
	font-size: 20px;
	font-weight: normal;
	margin-left: 10px;
}
.dwp-stat-container .dwp-stat-bonus-value {
	display : flex;
	align-items : center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: -20px;
	background: var(--dwp-value-bg);
	color: var(--dwp-value-font-color);
	font-family: var(--dwp-title-font-family);
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    border: 3px solid var(--dwp-border-color);
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* display: block; */
    /* min-width: 20px; */
    /* min-height: 20px; */
    /* max-height: 40px; */
    /* max-width: 40px; */
}

.dwp-stat-container .dwp-stat-full {
	font-weight: bold;
/*
	border-radius: 10px 10px 0px 0px;
    background-color: rgba(205,205,205,1.00);
*/
	padding: 1px 1px 1px 10px;
/*
  display: flex;
  align-items: center;
  justify-content: space-around;
*/
}
.dwp-stat-container .dwp-stat-full-value {
}
.dwp-stat-container .dwp-stat-debility {
    padding: 2px 5px;
}
